aside {
    display: flex;
    width: 25%;
    margin-left: 35%;
    background-color: lightgray;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: skyblue;
}


.col-md-2, .col-md-3 {
    background-color: lightgray;
    font-family: 'Fira Sans', sans-serif;
}

#currentWeather {
    background-color: lightgray;
    font-family: 'Fira Sans', sans-serif;
}

.jumbotron {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    justify-content: center;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 32px;
    background-color: lightgray;
}

.fyc {
    text-align: center;
    margin-bottom: 2rem;
}

#currentWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-radius: 5px;
}

#dayOne, #dayTwo, #dayThree, #dayFour, #dayFive, aside {
    border-radius: 5px;
}

.cityIcon {
    display: inline;
}

.timeblk {
    margin-left: 1%;
}

.asideCtnr {
    display: flex;
    flex-direction: column;
}

#recentSearches {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.oldSearch {
    background-color: navy;
    margin-left: 1px;
}


.forecast {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
}

@media only screen and (max-width: 425px) {
    /* For mobile phones: */
    aside {
      float: inherit;
      display: flex;
    }
    
    aside {
        display: flex;
        width: 100%;
        margin-left: 0%;
        background-color: lightgray;
    }

    .container {
        width: 100%;
    }

    .oldSearch {
        background-color: navy;
        margin-left: 3px;
    }
    #recentSearches {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #weatherBtn {
        align-content: center;
    }
    #currentWeather {
        margin-right: 1%;
    }
  }