aside {
    float: left;
    background-color: lightgray;
}

.col-md-2, .col-md-3 {
    background-color: lightgray;
}

#currentWeather {
    background-color: lightgray;
}

.jumbotron {
    justify-content: center;
    text-align: center;
    padding-bottom: 32px;
    padding-top: 32px;
}

#currentWeather {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.cityIcon {
    display: inline;
}

.timeblk {
    margin-left: 1%;
}

.asideCtnr {
    display: flex;
    flex-direction: column;
}
